@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://use.typekit.net/det2kyf.css");



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: auto; /* Enable scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; 
}
body{
background-color:#191919;
color: white;
font-family: 'Calibre', sans-serif;
}

html{
  size: 100%;
  font-family: 'Calibre', sans-serif;                              
}

body::-webkit-scrollbar {
  display: none;
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

.projectImages{
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  cursor: pointer;

}
.projectImages:hover{
  filter: grayscale(0%);

}

.home-bg-one{
  background-position: center;
  background-size: cover;
  background-image: url('./images/projectImage1.jpg');
  cursor: pointer;
}

.home-bg-two{
  background-position: center;
  background-size: cover;
  background-image: url('./images/projectImage111111111.jpg');
  cursor: pointer;
}
.home-bg-three{
  background-position: center;
  background-size: cover;
  background-image: url('./images/projectImage1.jpg');
  cursor: pointer;
}
.home-bg-four{
  background-position: center;
  background-size: cover;
  background-image: url('./images/projectImage7.jpg');
  cursor: pointer;
}

.active{
  color: white;
}

